@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
/*                                      */

html, body {
    font-family: 'League Spartan';
    background-color: #272727;
    color: #EEE;
    margin:0;
    padding:0;
    height:20px;
}

body {
    max-width: 70em;
    margin: 2em auto;

}

main {
    text-align: center;
    font-size: 1.2em;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 0.9em;
}

.container {

    height: 80vh;
    position: relative;
}


.elemento {

    height: 80vh;
    position: relative;
    transform: translate(+0%, +2%);
}

/*                                      */

/* mobile media query */

@media (max-width: 600px){
    h5 {
    
        font-size: 0.9em;
        display: block;
        line-height: 0.9em;

        max-width: 20em;
        margin-left:15%;
        margin-right: 15%;
    

    }
    hr {
        width: 400px;
    }
}
